body{
  margin: 10px;
}
#board{
  background: blue;
  /* width: 400px; */
  /* height: 200px; */
  /* margin: 10px; */
  display: flex;
  padding: 20px;
  width: fit-content;
}

.light-button{
 height: 80px;
 width: 80px;
 border-radius: 40px;
 margin: 5px;

}

input{
  margin:10px;
}