body{
    background: lightblue
}

.button{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin: 10px;
}

#all-buttons{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}

div[color="green"] {
    background: green
}
div[color="white"] {
    background: white
}
div[color="red"] {
    background: red
}
div[color="yellow"] {
    background: yellow
}

.heading{
 font-size: 25px;
 text-align: center;
}


.light-button{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 5px;
    opacity: 0.2;
   
}

#board{
    /* width: 400px; */
    /* height: 200px; */
    /* margin: 10px; */
    display: flex;
    padding: 20px;
    width: fit-content;
   
}

.on{
    opacity: 1 !important
}

#top-row{
    display:flex
}

#update{
    height: 30px;
    width: 100%;
}